html {
    box-sizing: border-box;
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    color: white;
}    

.sg-logo {
    height: 300px;
}

.welcome-msg {
    width: 800px;
    margin-top: -70px;
}

.rps-game {
    display: flex;
    gap: 10px;
    text-align: center;
}
.rps-game img {
    /* border: 2px solid gray; */
    border-radius: 20px;
}